<div class="row">
    <div class="col-md-6 mx-auto">
        <card class=" card card-body">
            <div class="container">

                <i class="fas fa-video fa-6x mainicon"></i>

            </div>
            <h2 class="text-center title ">
                Register
            </h2>


            <form method="POST" action="/users/register">
                <div class="field mt-4">
                    <label class="label">Name</label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-rounded is-medium" type="text" name="name" placeholder="Name" required>
                        <span class="icon is-small  is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
                <div class <div class="field mt-4">
                    <label class="label">Email</label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-rounded is-medium" type="email" name="email" placeholder="Email"
                            required>
                        <span class="icon is-small  is-left">
                            <i class="fas fa-bell logo "></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>


                <div class="field">
                    <label class="label">Password</label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-medium is-rounded" name="password" type="password" placeholder="Password"
                            required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                    {{#each errors}}

                    <p class="help is-danger ml-4">{{ text}}</p>

                    {{else}}
                    {{/each}}

                </div>

                <div class="field">
                    <label class="label">Confirm Password</label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-medium is-rounded" type="password" name="cpassword"
                            placeholder="Confirm Password" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
                <div class=" text-center">
                    <button class="button  is-info is-outlined  btn-xl mt-4  " type="submit">Register
                    </button>
                </div>
            </form>

        </card>
    </div>
</div>